@model SchedulerApp.Models.Team.Teams

<link rel="stylesheet" href="~/css/Team/Teams.css" />
<script src="~/js/Team/Teams.js"></script>

@{
    Layout = "_Layout";
}

<div id="modal-placeholder"></div>

<div class="page-header">
    <span class="h3">Teams</span>
    <button type="button" class="btn btn-primary float-right" data-toggle="ajax-modal" data-target="#add-team" data-url="@Url.Action("EditTeamModal")">
        Add Team
    </button>
</div>

<table id="teamsTable" class="table table-striped table-bordered compact" style="width:100%">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Team Description</th>
            <th>Team Location</th>
            <th>Team Email</th>
            <th>Team Leader</th>
            <th></th>
        </tr>
    </thead>
</table>


