@model SchedulerApp.Models.User.Users

<script src="~/js/User/Users.js"></script>
<link rel="stylesheet" href="~/css/User/Users.css" />

@{
    Layout = "_Layout";
}

<h2>Users</h2>


<table id="usersTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Display Name</th>
            <th>First Name</th>
            <th>Middle Initial</th>
            <th>Last Name</th>
        </tr>
    </thead>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-contact">
    Add User
</button>


