@model SchedulerApp.Models.User.Users

<script src="~/js/User/Users.js"></script>
<link rel="stylesheet" href="~/css/User/Users.css" />

@{
    Layout = "_Layout";
}



<div class="test-class">
    <h1>Testing</h1>
</div>