@model SchedulerApp.Models.Schedule.Schedules

<link rel="stylesheet" href="~/css/Schedule/Schedules.css" />
<script src="~/js/Schedule/Schedules.js"></script>

@{
    Layout = "_Layout";
}

<div id="modal-placeholder"></div>

<div class="page-header">
    <span class="h3">Schedule</span>
    <!--button type="button" class="btn btn-primary pull-right" data-toggle="ajax-modal" data-target="#add-location" data-url="@Url.Action("EditLocationModal")">
        Add Schedule
    </button>-->
    
</div>

<div class="d-flex flex-row">
    <div class="align-self-start">
        <span>Team: </span>
        <select asp-for="TeamId" asp-items="Model.TeamSelectList"></select>
    </div>
    <div class="align-self-start">
        <span>Start: </span>
        <input asp-for="StartDate" />
    </div>
    <div class="p-2">
        <span>End: </span>
        <input asp-for="EndDate" />
    </div>
    <div class="p-2">
        <button id="SearchButton" type="button" class="btn btn-primary">Search</button>
    </div>
</div>

<table id="schedulesTable" class="table table-striped table-bordered compact" style="width:100%">
    <thead>
        <tr>
            <th>Team</th>
            <th>User</th>
            <th>Support Level</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
        </tr>
    </thead>
</table>


