@model SchedulerApp.Models.Category.Categories

<link rel="stylesheet" href="~/css/Category/Categories.css" />
<script src="~/js/Category/Categories.js"></script>

@{
    Layout = "_Layout";
}

<div id="modal-placeholder"></div>

<h2>Categories</h2>

<div class="float-sm-right" style="float: right; padding-bottom: 10px;">
    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-category" data-url="@Url.Action("EditCategoryModal")">
        Add Category
    </button>
</div>

<table id="categoriesTable" class="table table-striped table-bordered compact" style="width:100%">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Description</th>
            <th>Category Email</th>
            <th></th>
        </tr>
    </thead>
</table>


