@model SchedulerApp.Models.Admin.MaintenanceHub

@{
    Layout = "_Layout";
}


<div class="page-header">
    <span class="h3">Maintenance Links</span>
</div>

<div>
    <ul>
        <li><a asp-area="" asp-controller="User" asp-action="Users">Users</a></li>
        <li><a asp-area="" asp-controller="Team" asp-action="Teams">Teams</a></li>
        <li><a asp-area="" asp-controller="Location" asp-action="Locations">Locations</a></li>
        <li><a asp-area="" asp-controller="Category" asp-action="Categories">Categories</a></li>
    </ul>
</div>