@model SchedulerApp.Models.Location.Locations

<link rel="stylesheet" href="~/css/Location/Locations.css" />
<script src="~/js/Location/Locations.js"></script>

@{
    Layout = "_Layout";
}

<div id="modal-placeholder"></div>

<div class="page-header">
    <span class="h3">Locations</span>
    <button type="button" class="btn btn-primary pull-right" data-toggle="ajax-modal" data-target="#add-location" data-url="@Url.Action("EditLocationModal")">
        Add Location
    </button>
</div>

<table id="locationsTable" class="table table-striped table-bordered compact" style="width:100%">
    <thead>
        <tr>
            <th>Location Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>City</th>
            <th>State/Region</th>
            <th>Country</th>
            <th>Zip Code</th>
            <th></th>
        </tr>
    </thead>
</table>


